///////////////////////////////////////////////////////////////////
// 健保署中文版．影片播放 2023 ////////////////////////////////////
// ＊獨立存在的頁面 /////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1200px;
// ---------- RWD 斷點 ----------- //

// ---------- 顏色變數 ----------- //
$primaryColor: #005176;
$secondaryColor: #68d7dc;
$assistant: #fff457;

$fontColor: #333;
$fontColorLight: #666;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: #005289;
$focusColor: #009fb8;

$gray: #a6b6b9;
$grayDark: #424344;
$white: #fff;
$borderColor: #c1c4c6;

// ---------- 顏色變數 ----------- //

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
body {
  margin: 0;
  padding: 0;
  background-color: #fff;

  font-size: 1em;
  font-family: Arial, Helvetica, 'Microsoft JhengHei', '微軟正黑體', sans-serif;

  &.noScroll {
    overflow: hidden;
    overflow-y: hidden;
  }
  * {
    box-sizing: border-box;
  }

  @media screen and (min-width: $wwNormal) {
    background-image: url(../images/main_bg2.png), url(../images/main_bg1.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left bottom;
  }
}

////////////////////////////////////////////////////////////
// 跳至內容區 //////////////////////////////////////////////
.goCenter {
  display: none;
  @media screen and (min-width: $wwNormal) {
    display: block;
    position: absolute;
    top: -2em;
    left: 0;
    z-index: 99;
    padding: 0 1em;
    margin-left: 2em;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    font-size: 0.9rem;
    height: 1.6em;
    line-height: 1.6;
    background-color: $assistant;
    color: $fontColorDark;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: top 0.3s;
    &:focus {
      top: 0;
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  @media screen and (min-width: $wwMaximum) {
    left: calc(50vw - #{$wwMaximum}* 0.5);
  }
}

// 無障礙定位點 ////////////////////////////////////////////
.accesskey {
  display: none;
  @media screen and (min-width: $wwNormal) {
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    font-size: 1rem;
    text-decoration: none;
    outline: none;
    line-height: 1;
    color: $focusColor;
    &:focus {
      box-shadow: $assistant 0 0 0 2px;
    }
  }
}
@media screen and (min-width: $wwNormal) {
  .main .accesskey:focus {
    box-shadow: $focusColor 0 0 0 2px;
  }
}
@media screen and (min-width: $wwMaximum) {
  .webHeader .accesskey {
    left: calc(50% - $wwMaximum * 0.5);
  }
}

////////////////////////////////////////////////////////////
// 版頭 .webHeader /////////////////////////////////////////
.webHeader {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $primaryColor;
  color: $fontInvert;
  background-image: linear-gradient(100deg, $primaryColor 40%, $secondaryColor 100%);
  h1 {
    width: calc(100% - 120px);
    margin: 0;
    padding: 6px 0;
    font-size: 1rem;
    a {
      display: block;
      outline: none;
      &:focus img {
        box-shadow: $assistant 0 0 0 2px;
      }
    }
    img {
      display: block;
      height: 52px;
      margin: 0 1.5vw;
      object-fit: contain;
      object-position: left;
    }
  }

  @media screen and (min-width: $wwNormal) {
    padding: 30px 4vw 30px calc(4vw - 6px);
    height: auto;
    background-image: url(../images/header_bg.jpg), linear-gradient(to right, $primaryColor 30%, $secondaryColor 80%);
    background-position: center top, 0 0;
    background-repeat: no-repeat;
    h1 {
      margin: 0 auto;
      padding: 0;
      width: auto;
      img {
        height: 68px;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: $wwMaximum) {
    padding-left: 42px;
    padding-right: 48px;
    h1 {
      width: calc($wwMaximum - 90px);
    }
  }
}

////////////////////////////////////////////////////////////
// 主要內容區 .main ////////////////////////////////////////
.main {
  position: relative;
  margin: 0 auto;

  &.smallFont {
    /* font-size: .9375em; */
    font-size: 0.88rem;
  }
  &.largeFont {
    /*  font-size: 1.25em; */
    font-size: 1.5rem;
  }
  &.mediumFont {
    font-size: 1rem;
  }

  @media screen and (min-width: $wwNormal) {
    max-width: 1200px;
    padding-bottom: 90px;
    min-height: calc(100vh - 128px);
  }
}

////////////////////////////////////////////////////////////
// 瀏覽路徑（麵包屑）///////////////////////////////////////
.breadcrumb {
  margin: 0 0 0 2vw;
  padding: 20px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.1;
  }
  li {
    float: left;
    position: relative;
    color: $fontColorDark;
    &:nth-child(n + 2) {
      padding-left: 1.8em;
      &::before {
        content: '';
        position: absolute;
        left: 0.51em;
        top: calc(50% - 5px);
        width: 6px;
        height: 6px;
        border: 2px solid $gray;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
      }
    }
    &:first-child {
      padding-left: 0;
    }
    a {
      display: block;
      text-decoration: none;
      outline: none;
      color: $fontColorLight;
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        box-shadow: $focusColor 0 0 0 2px;
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: $wwNormal) {
    margin: 0;
    padding: 25px 0;
  }
}

// 列印、分享、返回 等功能圖示 /////////////////////////////
.funcBar {
  margin: 0 calc(2vw - 5px) 0 30px;
  font-size: 1rem;
  z-index: 99;
  position: relative;
  a,
  button {
    cursor: pointer;
    outline: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  & > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    & > li {
      position: relative;
      margin: 5px;
      padding: 0;
      text-indent: -20em;
      a,
      button {
        display: block;
        width: 44px;
        height: 44px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: $grayDark;
        color: $fontInvert;
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        border-radius: 50%;
        transition: 0.2s;
        &:hover,
        &:focus {
          box-shadow: $primaryColor 0 0 0 3px;
          background-color: $primaryColor;
        }
      }
      // &.back>a{
      //   background-image: url(../images/icon_back.png);
      //   background-size: 36px;
      // }
      // &.print>a{
      //   background-image: url(../images/icon_print.png);
      //   background-size: 24px;
      // }

      // 第二層
      & > ul {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 44px;
        margin-top: -2px;
        & > li {
          position: absolute;
          top: 0;
          left: 0;
          margin: 4px 0;
          padding: 0;
          a,
          button {
            background-color: $primaryColor;
            &:hover,
            &:focus {
              box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 4px;
              background-color: $primaryColor;
            }
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border-radius: 50%;
          }
        }
      }

      &.compound > button {
        position: relative;
        z-index: 19;
      }

      &.share {
        & > button {
          background-image: url(../images/icon_share.png);
          background-size: 24px;
        }
        li {
          & > a {
            background-color: transparent;
            &[href*='facebook'] {
              &:hover,
              &:focus {
                box-shadow: $white 0 0 0 1px, #3b5998 0 0 0 4px;
              }
            }
            &[href*='twitter'] {
              &:hover,
              &:focus {
                box-shadow: $white 0 0 0 1px, #419bd6 0 0 0 4px;
              }
            }
            &[href*='line'] {
              &:hover,
              &:focus {
                box-shadow: $white 0 0 0 1px, #3ace01 0 0 0 4px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal) {
    margin-right: 0;
  }
}

// 排版 .breadcrumb 和 .funcBar ////////////////////////////
.flexC2 {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $wwNormal) {
    width: 92%;
  }
  .funcBar,
  .breadcrumb {
    flex: 0 0 auto;
  }
}

////////////////////////////////////////////////////////////
// 文字大小 ////////////////////////////////////////////////
.fontSize {
  button {
    line-height: 44px;
    font-size: inherit;
  }
  .mediumFont {
    font-size: 1rem;
  }
  .smallFont {
    font-size: 0.85rem;
    &::after {
      content: '-';
    }
  }
  .largeFont {
    font-size: 1.2rem;
    &::after {
      content: '+';
    }
  }
}

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

/// 影像播放區 /////////////////////////////////////////////
.videoPlay {
  margin: 12px auto;
  .videoTitle {
    margin: 0 2vw 15px;
    padding: 0;
    font-size: 1.8em;
    line-height: 1.2;

    &::after {
      content: '';
      display: block;
      height: 2px;
      margin: 6px auto 0;
      background-image: linear-gradient(to right, #0086cb, #00c069);
    }
  }
  iframe {
    display: block;
    margin: 0;
    width: 100%;
    height: 56.25vw;
    // 56.25vw = 100vw*9/16
  }

  @media screen and (min-width: $wwNormal) {
    width: 92%;
    margin-top: 15px;
    .videoTitle {
      margin: 0 0 24px;
      &::after {
        margin-top: 16px;
      }
    }
    iframe {
      height: calc(92vw / 16 * 9);
    }
  }

  @media screen and (min-width: $wwMaximum) {
    iframe {
      height: calc($wwMaximum * 0.5175);
      // .5175 = .92*9/16
    }
  }
}

// 附件下載////////////////////////////////////////////////////
.fileDownload {
  margin: 50px auto 20px;
  width: 92%;

  h3 {
    font-size: 1.4em;
    margin: 0 0 0.5em;
    line-height: 1.1;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8;
  }
  a {
    text-decoration: none;
  }
}
// 附件下載 ////////////////////////////////////////////////////
.fileDownload {
  & > ul {
    border-top: 3px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    & > li {
      margin: 0;
      padding: 5px 0 5px 3px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .fileName {
    margin: 6px 0 3px;
    flex: 1 1 auto;
  }

  .downloadFiles {
    flex: 0 1 auto;
    li {
      margin: 0 0 0 25px;
      padding: 3px 0;
    }
    a {
      padding: 5px;
      display: block;
      &:hover,
      &:focus {
        outline: none;
        .fileSize {
          text-decoration: underline;
        }
      }
      &:focus {
        box-shadow: $linkColor 0 0 0 1px inset;
        outline: none;
      }
    }
  }

  .fileType {
    // display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
//

// 檔案類型圖示 //
.downloadFiles {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;

  li {
    display: flex;
    align-items: center;
    margin: 3px 1px 3px 8px;
    a {
      display: block;
      margin: 0;
      padding: 0;
      width: 2rem;
      height: 2.5rem;
      text-decoration: none;
      background-color: #e2e5e7;
      border-radius: 5px;
      position: relative;
      &:after {
        content: '';
        border: 4px solid #b1b7bc;
        border-color: #fff #fff #b1b7bc #b1b7bc;
        border-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 3px;
      }
    }
    .fileSize {
      font-size: 0.9rem;
      color: $fontColor;
      display: inline-block;
      margin-left: 3px;
    }
  }
}
.fileType {
  display: block;
  position: absolute;
  top: 16px;
  left: -4px;
  right: auto;
  height: 18px;
  width: 2.5em;
  border-radius: 1px;
  line-height: 1rem;
  font-size: 0.75rem;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background: #e2e5e7;
  transition: 0.2s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #cbd1d7 0px 2px 0px;

  &.pdf {
    background: #c00;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #c00 0 0 0 2px;
    }
  }
  &.doc,
  &.docx,
  &.odt {
    background: #1b76cb;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #1b76cb 0 0 0 2px;
    }
  }
  &.xls,
  &.xlsx,
  &.csv,
  &.ods {
    background: #48920f;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #48920f 0 0 0 2px;
    }
  }
  &.ppt,
  &.pptx,
  &.odp {
    background: #c43e1c;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #c43e1c 0 0 0 2px;
    }
  }
  &.txt {
    background: #1d98e4;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #1d98e4 0 0 0 2px;
    }
  }
  &.jpg,
  &.avi {
    background: #0b9fb2;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #0b9fb2 0 0 0 2px;
    }
  }
  &.mp3,
  &.mp4 {
    background: #9d3a89;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #9d3a89 0 0 0 2px;
    }
  }
  &.mov,
  &.wmv {
    background: #5843a9;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #5843a9 0 0 0 2px;
    }
  }
  &.zip {
    background: #333;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #333 0 0 0 2px;
    }
  }
  &.other {
    background: #555;
    &:hover,
    &:focus {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #555 0 0 0 2px;
    }
  }
}
a .fileType {
  color: $fontInvert;
  text-decoration: none;
}
a:hover,
a:focus {
  .fileType {
    color: $fontInvert;
    text-decoration: none;
    &.pdf {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #c00 0 0 0 2px;
    }
    &.doc,
    &.docx,
    &.odt {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #1b76cb 0 0 0 2px;
    }
    &.xls,
    &.xlsx,
    &.csv,
    &.ods {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #48920f 0 0 0 2px;
    }
    &.ppt,
    &.pptx,
    &.odp {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #c43e1c 0 0 0 2px;
    }
    &.txt {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #1d98e4 0 0 0 2px;
    }
    &.jpg {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #0b9fb2 0 0 0 2px;
    }
    &.mp3,
    &.mp4 {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #9d3a89 0 0 0 2px;
    }
    &.mov,
    &.wmv {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #5843a9 0 0 0 2px;
    }
    &.zip {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #333 0 0 0 2px;
    }
    &.other {
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset, #555 0 0 0 2px;
    }
  }
}
